**.orig
*.swp
*~
.DS_Store
.project
.tags
.env
.gemtags
.tags_sorted_by_file
/.bundle
/.idea
/config/database.yml
/coverage/
/db/*.sqlite3
/log/
/public/system/
/public/uploads/
/public/html_revised
/tmp
/vendor/bundle
custom_plan.rb
doc/
spec/reports/*.xml
tags
zeus.json
~$*.xlsx
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
build.log
build-log.xml
app/assets/images/*.psd
app/assets/images/*.ai
compiled.zip
.vagrant/
npm-debug.log

