.headline-text{
  font-size: 40px;
  color: #444448;
  font-family: "FuturaStd-Bold";
}


.founder-tile{
  max-width: 289px;
  max-height: 219px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
}