$brand-primary: #b8e986;
$btn-primary-bg: $brand-primary;
$navbar-default-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-border: transparent;
$navbar-default-link-color: #ffffff;
$border-radius-large: 4px; 
$btn-primary-border: darken($btn-primary-bg, 40%);